#inputs {
  display: block;
}

/* #text-input {
}

#imagem-input {
} */

#meme-text {
  font-size: 30px;
  position: absolute;
  text-shadow: black 5px 5px 5px;
  color: white;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  height: 600px;
}
